.container {
  display: flex;
  max-width: 1116px;
  margin: 0 auto;
}

.content {
  max-width: 773px;
  height: 660px;
  margin: 0 auto 0 28px;
  width: 100%;
}

.content__row {
  display: grid;
  gap: 16px;
  grid-template-rows: repeat(4, 1fr);
}

.content__item {
  background: #FFFFFF;
  border: 1px solid #EAEBED;
  border-radius: 8px;
  height: 137px;
}

.sidebar {
  max-width: 315px;
  width: 100%;
}

.sidebar__row {
  padding: 20px;
}

.btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background: #5E96FC;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #92C1FF;
}

.btn.active {
  background: #3B7CD3;
}
